# Bonus: Temperature Analysis I

In [4]:
import pandas as pd
from datetime import datetime as dt

In [6]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head(20)

        station        date  prcp  tobs
0   USC00519397  2010-01-01   2.0  18.3
1   USC00519397  2010-01-02   0.0  17.2
2   USC00519397  2010-01-03   0.0  23.3
3   USC00519397  2010-01-04   0.0  24.4
4   USC00519397  2010-01-06   NaN  22.8
5   USC00519397  2010-01-07   1.5  21.1
6   USC00519397  2010-01-08   0.0  17.8
7   USC00519397  2010-01-09   0.0  20.0
8   USC00519397  2010-01-10   0.0  22.8
9   USC00519397  2010-01-11   0.3  17.8
10  USC00519397  2010-01-12   0.0  16.1
11  USC00519397  2010-01-14   0.0  18.9
12  USC00519397  2010-01-15   0.0  18.3
13  USC00519397  2010-01-16   0.0  20.0
14  USC00519397  2010-01-17   0.0  17.8
15  USC00519397  2010-01-18   0.0  22.2
16  USC00519397  2010-01-19   0.0  18.9
17  USC00519397  2010-01-20   0.0  18.9
18  USC00519397  2010-01-21   0.0  20.6
19  USC00519397  2010-01-22   0.0  19.4

In [ ]:
# Convert the date column format from string to datetime

In [ ]:
# Set the date column as the DataFrame index

In [ ]:
# Drop the date column

### Compare June and December data across all years

In [ ]:
from scipy import stats

In [ ]:
# Filter data for desired months

In [ ]:
# Identify the average temperature for June

In [ ]:
# Identify the average temperature for December

In [ ]:
# Create collections of temperature data

In [ ]:
# Run paired t-test

### Analysis